.container-fluid{
    position: relative;
    overflow-x: hidden;
}
.mamba{
    width: 100px;
    height: 20px;
}

.nav-link{
    color: #237390 !important;
    font-weight: bold;
}

.nav-link:hover{
    background-color: #237390;
    font-weight: bold;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    color: white !important;
    padding: 10px;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
  }
  .read{
    margin-top: 20px;
    background-color: #4daac6;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    border-radius: 5px;
    color: white;
  }
  .aboutus{
    margin-top: 100px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 30px;
  }
  .video{
    margin-top: 10px;
  }
  .lobout{
    margin-top: 30px;
  }
  .bulb{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(211, 233, 241, 0.539);
    margin-top: 30px;
    font-size: 30px;
    color: #237390;
    border-radius: 15px;
  }
  .span1{
    margin-top: -70px;
    padding-left: 100px;
  }

  .gift{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(211, 233, 241, 0.539);
    margin-top: 30px;
    font-size: 30px;
    color: #237390;
    border-radius: 15px;
  }
  .span2{
    margin-top: -70px;
    padding-left: 100px;
  }

  .cellsrow {
    margin-top: 100px;
    border-bottom: 1px solid #e0e0e0;
    padding-left: 50px;
}
.num {
    font-size: 24px;
    color: #80bdff;
    margin: 0 0 10px;
}
.cells {
    border-bottom: 1px solid #e0e0e0;
    padding-left: 50px;
}
.cell1 {
    flex: 1;
    padding: 20px;
    border-right: 1px solid #e0e0e0;
    padding-left: 50px;
    padding-right: 50px;
}
.cell2{
    flex: 1;
    padding: 20px;
    border-right: 1px solid #e0e0e0;
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 50px;
}
.head{
    padding-top: 10px;
    font-weight: lighter;
}
.para{
    padding-top: 20px;
}

.counting {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-bottom: 100px;
    padding-top: 50px;
}

.counters {
    margin-top: 50px;
    background-color: #fff;
    padding: 20px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.timer {
    font-size: 48px;
    font-weight: bold;
    color: navy;
}
.clients1{
    padding-left: 5px;
}

.counters1{
    padding: 20px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: 50px;
}
.counters2{
    padding: 20px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: 50px;
}
.counters3{
    padding: 20px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: 50px;
}

.heading{
    color:#237390;
}

.portfolio{
    margin-top: 100px;
    
}
.heading1{
    color:#237390;
}
#myBtnContainer{
    padding-left: 450px;
}

/* Create three equal columns that floats next to each other */
.col11 {
    position: relative;
    display: none; 
    padding: 8px;
}

/* Content */
.content {
    /* position: relative; */
    background-color: white;
    /* width: fit-content;
    height: fit-content; */
}

/* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
}

.btn:hover {
    background-color: #4daac6;
    border-radius: 20px;
    color: white;
    outline: none;
    border: none;
}

.btn.active {
    background-color: #4daac6;
    border-radius: 20px;
    color: white;
    outline: none;
    border: none;
}

.btn.active:focus{
    border: none;
    outline: none;
    box-shadow: none;
}

.headphone, .watch , .perfume, .flower, .glasses, .steak, .water, .oil, .chair{
    height: 280px;
    width: 320px;
}

.content {
    position: relative;
    background-color: white;
    overflow: hidden;
    transition: 0.5s ease;
}

.content:hover img {
    opacity: 0.2;
}

.middle {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none; /* Ensures the text doesn't interfere with the hover */
}

.content:hover .middle {
    opacity: 1;
}

.text {
    color: black;
    font-size: 16px;
}

.team{
    margin-top: 100px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-bottom: 150px;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
}
.boxes{
    margin-top: -150px;
}

.pro1:hover, .pro2:hover, .pro3:hover, .pro4:hover, .pro5:hover, .pro6:hover, .pro7:hover, .pro8:hover, .pro9:hover{
    background: none;
    border: none;
  }

  .filterDiv {
    background-color: transparent;
    outline: none;
    border: none;
    text-align: center;
    display: none; 
  }

.show {
    display: inline-block;
  }

  .heading2{
    color: #237390;
  }

  .person2{
    width: 270px;
    height: 260px;
    transition: transform 0.5s ease;
  }

  .person4{
    width: 275px;
    height: 260px;
    transition: transform 0.5s ease;
  }
  .person1{
    width: 260px;
    height: 260px;
    transition: transform 0.5s ease;
  }
  .person3{
    width: 260px;
    height: 260px;
    transition: transform 0.5s ease;
  }
  .per{
    position: relative;
    padding-left: 18px;
  }
  .per:hover .person1{
    transform: scale(1.08);
  }
  .per:hover .person2{
    transform: scale(1.08);
  }
  .per:hover .person3{
    transform: scale(1.08);
  }
  .per:hover .person4{
    transform: scale(1.08);
  }
  .per1{
    width: 235px;
    height: 120px;
    margin-top: -50px;
  }
  .per2{
    width: 235px;
    height: 120px;
    margin-top: -50px;
  }
  .per3{
    width: 235px;
    height: 120px;
    margin-top: -50px;
  }
  .per4{
    width: 235px;
    height: 120px;
    margin-top: -50px;
  }
  .textbox{
    position: absolute;
    width: 235px;
    height: 120px;
    background-color: rgba(113, 142, 166, 0.797);
    left: 60px;
  }
  .textbox1{
    position: absolute;
    width: 235px;
    height: 120px;
    background-color: rgba(113, 142, 166, 0.797);
    left: 365px;
  }

  .textbox2{
    position: absolute;
    width: 235px;
    height: 120px;
    background-color: rgba(113, 142, 166, 0.797);
    left: 660px;
  }

  .textbox3{
    position: absolute;
    width: 235px;
    height: 120px;
    background-color: rgba(113, 142, 166, 0.797);
    left: 965px;
  }

  .underline11{
    display: inline-block;
    width: 80px;
    height: 1px;
    background-color: white;
    margin-left: 80px;
  }
  .icon11{
    padding-left: 70px;
    color: white;
  }

  .faq{
    margin-top: 150px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .heading3{
    color: #237390;
  }
  .frequent{
    margin-top: 50px;
  }
  .contact{
    margin-top: 100px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-bottom: 100px;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .heading4{
    color: #237390;
  }

  .map{
    position: absolute;
    left: 240px;
    border: 2px solid;
    width: 40px;
    border-radius: 50%;
    text-decoration: dotted;
    padding-left: 10px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: dotted;
    color: #4daac6;
  }
  .address{
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .mark{
    background-color: transparent;
    font-size: 25px;
    position: relative;
  }
  .state{
    margin-top: 60px;
  }
  .address1{
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .envelope{
    position: absolute;
    left: 700px;
    border: 2px solid;
    width: 40px;
    border-radius: 50%;
    text-decoration: dotted;
    padding-left: 15px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: dotted;
    color: #4daac6;
  }
  .enve{
    position: relative;
    font-size: 25px;
  }
  .mail{
    margin-top: 60px;
  }
  .address2{
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .call{
    position: absolute;
    left: 1050px;
    border: 2px solid;
    width: 40px;
    border-radius: 50%;
    text-decoration: dotted;
    padding-left: 17px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: dotted;
    color: #4daac6;
    }

.vol{
    position: relative;
    font-size: 25px;
}
.phone{
    margin-top: 60px;
}
.forms{
    margin-top: 100px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 35px;
}
form{
    display: grid;
}
.send{
    background-color:#237390;
    justify-self: center;
}

.footer{
    margin-top: 100px;
    color: white;
    background-color:rgb(95, 117, 151);
}
.quick{
    padding-top: 80px;
    padding-bottom: 100px;
}
.quick p{
    padding-top: 30px;
}
.social{
    padding-top: 30px;
}
.twit1{
    border: 1px solid rgb(90, 110, 139);
    border-radius: 50%;
    padding: 10px;
    background-color:rgb(90, 110, 139);
}
.fb1{
    border: 1px solid rgb(90, 110, 139);
    border-radius: 50%;
    padding: 10px;
    padding-left: 13px;
    padding-right: 13px;
    background-color:rgb(90, 110, 139);
}
.insta1{
    border: 1px solid rgb(90, 110, 139);
    border-radius: 50%;
    padding: 10px;
    background-color:rgb(90, 110, 139);
}
.skype1{
    border: 1px solid rgb(90, 110, 139);
    border-radius: 50%;
    padding: 10px;
    background-color:rgb(90, 110, 139);
}
.in1{
    border: 1px solid rgb(90, 110, 139);
    border-radius: 50%;
    padding: 10px;
    background-color:rgb(90, 110, 139);
}
.links{
    padding-top: 80px;
    padding-bottom: 100px;
}
.tags{
    padding-top: 30px;
}
.home{
    text-decoration: none;
    color: white;
}
.serve{
    padding-top: 80px;
    padding-bottom: 100px;
}
.serve p{
    margin-top: 30px;
}
.letter{
    padding-top: 80px;
    padding-bottom: 100px;
}
.letter p{
    padding-top: 30px;
}
.copyright{
    background-color:rgb(86, 106, 141);
    color: white;
    padding-top: 100px;
}
.name{
    width: 350px;
}
.mailing{
    position: absolute;
    width: 350px;
}
.subject{
    width: 1155px;
}



@media (min-width:320px) and (max-width:480px){
    .centered{
        font-size: 6pt;
        letter-spacing: 1px;
    }
    .centered h1{
        font-size: small;
    }
    .read{
        font-size: xx-small;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 1px;
        padding-bottom: 1px;
        margin-top: 1px;
    }
    iframe{
        width: 400px;
        height: 300px;
        margin-left: -20px;
     }
     .video{
        padding-left: 0px;
     }
    .about{
        margin-top: 50px;
    }

    .cell1{
        padding-left: 10px;
    }
    .cell2{
        padding-left: 10px;
    }
    #myBtnContainer{
        padding-left: 80px;
    }
    .projects1{
        width: 100px;
    }
    .projects2{
        width: 50px;
    }
    .projects3{
        width: 30px;
    }
    .pro8{
        margin-top: 25px;
    }
    .pro9{
        margin-top: 25px;
    }

    .textbox{
        left: 70px;
        margin-top: -1300px;
    }

    .textbox1{
        left: 70px;
        margin-top: -930px;
    }
    .textbox2{
        left: 70px;
        margin-top: -560px;
    }
    .textbox3{
        left: 70px;
        margin-top: -190px;
    }
    .per{
        margin-top: 50px;
        padding-left: 5px;
    }
    .person1{
        width: 310px;
        height: 310px;
    }
    .person2{
        width: 310px;
        height: 310px;
        margin-top: 80px;
    }
    .person3{
        width: 310px;
        height: 310px;
        margin-top: 80px;
    }
    .person4{
        width: 310px;
        height: 310px;
        margin-top: 80px;
    }
    .boxes{
        width: 100px;
    }
    .map{
        left: 170px;
    }
    .envelope{
        left: 165px;
    }
    .call{
        left: 170px;
    }
    .address1{
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .forms{
        padding-left: 5px;
    }
    .name{
        width: 152px;
        padding-left: 0px;
    }
    .mailing{
        position: absolute;
        width: 152px;
    }
    .subject{
        width: 354px;
    }
    .text{
        width: 354px;
    }
    .quick{
        padding-left: 20px;
    }
    .social{
        padding-right: 30px;
    }
    .links{
        padding-left: 40px;
        padding-right: 20px;
    }
    .serve{
        padding-left: 20px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px){
    .centered{
        font-size: 9pt;
    }
    .centered h1{
        font-size: large;
    }
    .read{
        margin-top: 3px;
    }
    iframe{
        width: 580px;
        height: 300px;
        padding-right: 50px;
        margin-left: 0px;
        padding-left: 0px;
    }
     .about{
        margin-top: 50px;
    }

    .cell1 {
        padding: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
   
    .cells {
        padding-left: 20px;
    }
    .cell2 {
        padding: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    #myBtnContainer{
        padding-left: 170px;
    }

    .headphone, .watch , .perfume, .flower, .glasses, .steak, .water, .oil, .chair{
        height: 330px;
        width: 550px;
    }

    .middle{
        left: 50%;
    }

    .person1{
        width: 400px;
        height: 300px;
        padding-left: 100px;
        margin-top: 50px;
    }
    .person2{
        width: 400px;
        height: 300px;
        padding-left: 100px;
        margin-top: 100px;
    }
    .person3{
        width: 400px;
        height: 300px;
        padding-left: 100px;
        margin-top: 100px;
    }
    .person4{
        width: 400px;
        height: 300px;
        padding-left: 100px;
        margin-top: 100px;
    }
    .boxes{
        width: 100px;
    }
    .textbox{
        left: 180px;
        margin-top: -1210px;
    }
    .textbox1{
        left: 180px;
        margin-top: -880px;
    }
    .textbox2{
        left: 180px;
        margin-top: -550px;
    }
    .textbox3{
        left: 180px;
        margin-top: -220px;
    }
    .map{
        left: 260px;
    }
    .address1{
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .envelope{
        left: 255px;
    }
    .call{
        left: 255px;
    }
    .forms{
        padding-left: 15px;
        padding-right: 30px;
    }
    .name{
        width: 240px;
        padding-left: 0px;
    }
    .mailing{
        position: absolute;
        width: 240px;
    }
    .subject{
        width: 530px;
    }
    .text{
        width: 530px;
    }
    .footer{
        padding-left: 20px;
        padding-right: 20px;
    }
    .quick{
        padding-left: 20px;
    }
    .links{
        padding-left: 40px;
        padding-right: 20px;
    }
    .serve{
        padding-left: 20px;
    } 
}



@media (min-width: 768px) and (max-width: 991.98px){

    .centered{
        font-size: 13pt;
    }
    .centered h1{
        font-size: xx-large;
    }
    .read{
        margin-top: 3px;
    }
    iframe{
        width: 760px;
        height: 400px;
        padding-right: 50px;
        margin-left: 0px;
        padding-left: 0px;
    }
    .about{
        margin-top: 50px;
    }

    .cell1 {
        padding: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
   
    .cells {
        padding-left: 20px;
    }
    .cell2 {
        padding: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .counters1{
        width: 170px;
    }
    .counters2{
        width: 170px;
    }
    .counters3{
        width: 170px;
    }
    .counters4{
        width: 170px;
    }
   
    #myBtnContainer{
        padding-left: 260px;
    }
    .projects1{
        width: 600px;
    }
   
    .projects2{
        margin-top: 300px;
        width: 600px;
    }
   
    .projects3{
        margin-top: 400px;
        width: 600px;
    }
   
    .team{
        margin-top: 400px;
        padding-left: 70px;
    }
    .person3{
        margin-top: 100px;
    }
    .person4{
        margin-top: 100px;
    }
    .textbox{
        left: 100px;
        margin-top: -350px;
    }
    .textbox1{
        left: 440px;
        margin-top: -350px;
    }
    .textbox2{
        left: 100px;
        margin-top: 10px;
    }
    .textbox3{
        left: 445px;
        margin-top: -60px;
    }
    .contact{
        padding-left: 10px;
    }
    .map{
        left: 140px;
    }
    .envelope{
        left: 420px;
    }
    .address2{
        position: relative;
        left: 570px;
        margin-top: -197px;
    }
    .call{
        left: 60px;
    }
    .forms{
        padding-left: 15px;
        padding-right: 30px;
    }
    .name{
        width: 335px;
        padding-left: 0px;
    }
    .mailing{
        position: absolute;
        width: 335px;
    }
    .subject{
        width: 718px;
    }
    .text{
        width: 718px;
    }
    .footer{
        padding-left: 5px;
        padding-right: 5px;
    }
    .quick{
        padding-left: 10px;
    }
    .links{
        padding-left: 10px;
        padding-right: 10px;
    }
    .serve{
        padding-left: 10px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px){
     .centered{
        font-size: 15pt;
    }
    .centered h1{
        font-size: 30pt;
    }
    .read{
        margin-top: 3px;
        font-size: medium;
    }
    iframe{
        padding-right: 30px;
        margin-left: 0px;
        padding-left: 0px;
    }
    .video{
        padding-left: 0px;
        margin-top: 80px;
    }
    .span1{
        padding-top: 7px;
    }
    .span2{
        padding-top: 7px;
    }
   
    #myBtnContainer{
        padding-left: 360px;
    }
   
    .person4{
        margin-top: 150px;
        padding-left: 320px;
        width: 580px;
    }
    .textbox{
        left: 60px;
        margin-top: -390px;
    }
    .textbox1{
        left: 380px;
        margin-top: -390px;
    }
    .textbox2{
        left: 690px;
        margin-top: -390px;
    }
    .textbox3{
        left: 380px;
        margin-top: 20px;
    }
    .map{
        left: 200px;
    }
    .envelope{
        left: 550px;
    }
    .address2{
        position: relative;
        left: 720px;
        margin-top: -197px;
    }
    .call{
        left: 85px;
    }
    .name{
        width: 430px;
        padding-left: 0px;
    }
    .mailing{
        position: absolute;
        width: 430px;
    }
    .subject{
        width: 908px;
    }
    .text{
        width: 908px;
    }
}

@media (min-width: 1200px){
    .centered{
        font-size: 13pt;
    }
    #myBtnContainer{
        padding-left: 510px;
    }
    .textbox1{
        left: 370px;
    }
    .textbox2{
        left: 660px;
    }
    .textbox3{
        left: 965px;
    }
    .map{
        left: 250px;
    }
    .envelope{
        left: 700px;
    }
    .call{
        left: 1050px;
    }
    .name{
        width: 570px;
    }
    .mailing{
        width: 570px;
    }
    .subject{
        width: 1195px;
    }
    .text{
        width: 1195px;
    }
}