.container-fluid{
    position: relative;
    overflow-x: hidden;
}
.mamba{
    width: 100px;
    height: 20px;
}
/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
  }
  .read{
    margin-top: 20px;
    background-color: #4daac6;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    border-radius: 5px;
    color: white;
  }
  .aboutus{
    margin-top: 100px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 30px;
  }
  .video{
    margin-top: 10px;
  }
  .lobout{
    margin-top: 30px;
  }
  .bulb{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(211, 233, 241, 0.539);
    margin-top: 30px;
    font-size: 30px;
    color: #237390;
    border-radius: 15px;
  }
  .span1{
    margin-top: -70px;
    padding-left: 100px;
  }

  .gift{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(211, 233, 241, 0.539);
    margin-top: 30px;
    font-size: 30px;
    color: #237390;
    border-radius: 15px;
  }
  .span2{
    margin-top: -70px;
    padding-left: 100px;
  }

  .cellsrow {
    margin-top: 100px;
    border-bottom: 1px solid #e0e0e0;
    padding-left: 50px;
}
.num {
    font-size: 24px;
    color: #80bdff;
    margin: 0 0 10px;
}
.cells {
    border-bottom: 1px solid #e0e0e0;
    padding-left: 50px;
}
.cell1 {
    flex: 1;
    padding: 20px;
    border-right: 1px solid #e0e0e0;
    padding-left: 50px;
    padding-right: 50px;
}
.cell2{
    flex: 1;
    padding: 20px;
    border-right: 1px solid #e0e0e0;
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 50px;
}
.head{
    padding-top: 10px;
    font-weight: lighter;
}
.para{
    padding-top: 20px;
}

.counting {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-bottom: 100px;
    padding-top: 50px;
}

.counters {
    margin-top: 50px;
    background-color: #fff;
    padding: 20px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.timer {
    font-size: 48px;
    font-weight: bold;
    color: navy;
}
.clients1{
    padding-left: 5px;
}

.counters1{
    padding: 20px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: 50px;
}
.counters2{
    padding: 20px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: 50px;
}
.counters3{
    padding: 20px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: 50px;
}
.services{
    margin-top: 100px;
}
.heading{
    color:#237390;
}
.icons{
    padding-left: 100px;
    margin-top: 50px;
}
.icons1{
    padding-left: 100px;
    margin-top: 50px;
}
.message1{
    position: absolute;
    left: 200px;
    border-radius: 50%;
    font-size: 40px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #0f4680;
}
.message{
    position: absolute;
    border-radius: 50%;
    font-size: 40px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #0f4680;
}
.network{
    position: absolute;
    left: 575px;
    border-radius: 50%;
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #0f4680;
}
.lorem{
    margin-top: 130px;
}
.lorem1{
    margin-top: 130px;
    padding-left: 50px;
}
.lorem2{
    margin-top: 130px;
    padding-left: 80px;
}
.underline{
    display: inline-block;
    width: 60px;
    height: 3px;
    background-color: #007bff;
    margin-left: 110px;
}
.underline1{
    display: inline-block;
    width: 60px;
    height: 3px;
    background-color: #007bff;
    margin-left: 80px;
}
.underline2{
    display: inline-block;
    width: 60px;
    height: 3px;
    background-color: #007bff;
    margin-left: 30px;
}
.para1{
    text-align: center;
}
.para2{
    text-align: center;
    padding-right: 50px;
    margin-left: -30px;
}
.para3{
    text-align: center;
    margin-left: -80px;
    padding-right: 80px;
}
.sun{
    position: absolute;
    left: 575px;
    border-radius: 50%;
    font-size: 40px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #0f4680;
}
.portfolio{
    margin-top: 100px;
    
}
.heading1{
    color:#237390;
}
.all{
    border: none;
    border-radius: 10px;
    background-color: #4bb4da;
    color: white;
    width: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.app{
    border: none;
    border-radius: 10px;
    color: #237390;
    width: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.cards{
    border: none;
    border-radius: 10px;
    color: #237390;
    width: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.web{
    border: none;
    border-radius: 10px;
    color: #237390;
    width: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.app:hover{
    background-color: #4bb4da;
    color: white;
}
.cards:hover{
    background-color: #4bb4da;
    color: white;
}
.web:hover{
    background-color: #4bb4da;
    color: white;
}
.projects1{
    margin-top: 100px;
}
.buttons{
    margin-top: 50px;
    padding-left: 450px;
}

.projects2{
    margin-top: 50px;
}
.pro1 {
    position: relative;
    border: none;
    outline: none;
}
   
.headphone {
    width: 390px;
    height: 215px;
    transition: .5s ease;
    backface-visibility: hidden;
}
  
.description {
    position: absolute;
    transition: 0.5s ease;
    opacity: 0;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #10121077;
    color: rgb(251, 247, 247);
    font-size: 16px;
    left: 206px;
    top: 50%;
    width: 388px;
    height: 211px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none; 
}

.pro1:hover .description {
    opacity: 1; 
    pointer-events: auto; 
}
 
.desc1 {
    margin-top: 0; 
    font-size: x-large;
    color: rgb(255, 255, 255);
}
 
.styling{
    border-radius: 50%;
    border: none;
    position: absolute;
    margin-top: 120px;
    left: 145px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
.styling1{
    position: absolute;
    border-radius: 50%;
    border: none;
    left: 195px;
    margin-top: 120px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.pro2 {
    position: relative;
    border: none;
  outline: none;
}
   
.watch{
    width: 390px;
}

.description1 {
    position: absolute;
    transition: 0.5s ease;
    opacity: 0;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #10121077;
    color: rgb(251, 247, 247);
    font-size: 16px;
    left: 206px;
    top: 50%;
    width: 388px; 
    height: 211px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none; 
}

.pro2:hover .description1 {
    opacity: 1; 
    pointer-events: auto; 
}
 
.desc2 {
    margin-top: 0; 
    font-size: x-large;
    color: rgb(255, 255, 255);
}
 

.pro3 {
    position: relative;
    border: none;
  outline: none;
}
   

.glasses{
    width: 390px;
    height: 215px;
}

.description2 {
    position: absolute;
    transition: 0.5s ease;
    opacity: 0;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #10121077;
    color: rgb(251, 247, 247);
    font-size: 16px;
    left: 206px;
    top: 50%;
    width: 388px; 
    height: 211px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.pro3:hover .description2 {
    opacity: 1; 
    pointer-events: auto; 
}
 
.desc3 {
    margin-top: 0; 
    font-size: x-large;
    color: rgb(255, 255, 255);
}

.pro4 {
    position: relative;
    border: none;
  outline: none;
}
   
 .flower{
    width: 390px;
 }
 .description3 {
    position: absolute;
    transition: 0.5s ease;
    opacity: 0;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #10121077;
    color: rgb(251, 247, 247);
    font-size: 16px;
    left: 206px;
    top: 50%;
    width: 390px; 
    height: 295px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none; 
}

.pro4:hover .description3 {
    opacity: 1; 
    pointer-events: auto; 
}
 
.desc4 {
    margin-top: 0; 
    font-size: x-large;
    color: rgb(255, 255, 255);
}
 .perfume{
    width: 390px;
    height: 300px;
 }

 
.pro5 {
    position: relative;
    border: none;
  outline: none;
}
.description4 {
    position: absolute;
    transition: 0.5s ease;
    opacity: 0;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #10121077;
    color: rgb(251, 247, 247);
    font-size: 16px;
    left: 206px;
    top: 50%;
    width: 390px; 
    height: 295px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none; 
}

.pro5:hover .description4 {
    opacity: 1; 
    pointer-events: auto; 
}
 
.desc5 {
    margin-top: 0;
    font-size: x-large;
    color: rgb(255, 255, 255);
}
   
 .oil{
    width: 390px;
    height: 300px;
 }

 .pro6{
    position: relative;
    border: none;
  outline: none;
 }
 .description5 {
    position: absolute;
    transition: 0.5s ease;
    opacity: 0;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #10121077;
    color: rgb(251, 247, 247);
    font-size: 16px;
    left: 206px;
    top: 50%;
    width: 390px; 
    height: 295px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none; 
}

.pro6:hover .description5 {
    opacity: 1; 
    pointer-events: auto; 
}
 
.desc6 {
    margin-top: 0; 
    font-size: x-large;
    color: rgb(255, 255, 255);
}

.projects3{
    margin-top: 50px;
}
.pro7{
    position: relative;
    border: none;
    outline: none;
}

.description6 {
    position: absolute;
    transition: 0.5s ease;
    opacity: 0;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #10121077;
    color: rgb(251, 247, 247);
    font-size: 16px;
    left: 206px;
    top: 50%;
    width: 390px; 
    height: 211px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none; 
}

.pro7:hover .description6 {
    opacity: 1; 
    pointer-events: auto; 
}
 
.desc7 {
    margin-top: 0; 
    font-size: x-large;
    color: rgb(255, 255, 255);
}

.pro8 {
        position: relative;
        border: none;
      outline: none;
}
.description7 {
    position: absolute;
    transition: 0.5s ease;
    opacity: 0;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #10121077;
    color: rgb(251, 247, 247);
    font-size: 16px;
    left: 206px;
    top: 50%;
    width: 390px; 
    height: 211px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none; 
}

.pro8:hover .description7 {
    opacity: 1; 
    pointer-events: auto; 
}
 
.desc8 {
    margin-top: 0; 
    font-size: x-large;
    color: rgb(255, 255, 255);
}
.pro9 {
    position: relative;
    border: none;
    outline: none;
}
.description8 {
    position: absolute;
    transition: 0.5s ease;
    opacity: 0;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #10121077;
    color: rgb(251, 247, 247);
    font-size: 16px;
    left: 206px;
    top: 50%;
    width: 390px; 
    height: 211px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none; 
}

.pro9:hover .description8 {
    opacity: 1; 
    pointer-events: auto; 
}
 
.desc9 {
    margin-top: 0;
    font-size: x-large;
    color: rgb(255, 255, 255);
}
.water{
    width: 390px;
    height: 215px;
}
.chair{
    width: 390px;
    height: 215px;
}
.steak{
    width: 390px;
    height: 215px;
}
.team{
    margin-top: 100px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-bottom: 150px;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
}
.boxes{
    margin-top: -150px;
}

  .pro1:hover, .pro2:hover, .pro3:hover, .pro4:hover, .pro5:hover, .pro6:hover, .pro7:hover, .pro8:hover, .pro9:hover{
    background: none;
    border: none;
  }
  .filterDiv {
    background-color: transparent;
    outline: none;
    border: none;
    text-align: center;
    display: none; 
  }
  
.show {
    display: inline-block;
  }
  
  .heading2{
    color: #237390;
  }
  .person2{
    width: 270px;
    height: 260px;
    transition: transform 0.5s ease;
  }
  .person4{
    width: 275px;
    height: 260px;
    transition: transform 0.5s ease;
  }
  .person1{
    width: 260px;
    height: 260px;
    transition: transform 0.5s ease;
  }
  .person3{
    width: 260px;
    height: 260px;
    transition: transform 0.5s ease;
  }
  .per{
    position: relative;
    padding-left: 18px;
  }
  .per:hover .person1{
    transform: scale(1.08);
  }
  .per:hover .person2{
    transform: scale(1.08);
  }
  .per:hover .person3{
    transform: scale(1.08);
  }
  .per:hover .person4{
    transform: scale(1.08);
  }
  .per1{
    width: 235px;
    height: 120px;
    margin-top: -50px;
  }
  .per2{
    width: 235px;
    height: 120px;
    margin-top: -50px;
  }
  .per3{
    width: 235px;
    height: 120px;
    margin-top: -50px;
  }
  .per4{
    width: 235px;
    height: 120px;
    margin-top: -50px;
  }
  .textbox{
    position: absolute;
    width: 235px;
    height: 120px;
    background-color: rgba(113, 142, 166, 0.797);
    left: 60px;
  }
  .textbox1{
    position: absolute;
    width: 235px;
    height: 120px;
    background-color: rgba(113, 142, 166, 0.797);
    left: 365px;
  }

  .textbox2{
    position: absolute;
    width: 235px;
    height: 120px;
    background-color: rgba(113, 142, 166, 0.797);
    left: 660px;
  }

  .textbox3{
    position: absolute;
    width: 235px;
    height: 120px;
    background-color: rgba(113, 142, 166, 0.797);
    left: 965px;
  }

  .underline11{
    display: inline-block;
    width: 80px;
    height: 1px;
    background-color: white;
    margin-left: 80px;
  }
  .icon11{
    padding-left: 70px;
    color: white;
  }

  .faq{
    margin-top: 150px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .heading3{
    color: #237390;
  }
  .frequent{
    margin-top: 50px;
  }
  .contact{
    margin-top: 100px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-bottom: 100px;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .heading4{
    color: #237390;
  }

  .map{
    position: absolute;
    left: 240px;
    border: 2px solid;
    width: 40px;
    border-radius: 50%;
    text-decoration: dotted;
    padding-left: 10px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: dotted;
    color: #4daac6;
  }
  .address{
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .mark{
    background-color: transparent;
    font-size: 25px;
    position: relative;
  }
  .state{
    margin-top: 60px;
  }
  .address1{
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .envelope{
    position: absolute;
    left: 700px;
    border: 2px solid;
    width: 40px;
    border-radius: 50%;
    text-decoration: dotted;
    padding-left: 15px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: dotted;
    color: #4daac6;
  }
  .enve{
    position: relative;
    font-size: 25px;
  }
  .mail{
    margin-top: 60px;
  }
  .address2{
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .call{
    position: absolute;
    left: 1050px;
    border: 2px solid;
    width: 40px;
    border-radius: 50%;
    text-decoration: dotted;
    padding-left: 17px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: dotted;
    color: #4daac6;
    }

.vol{
    position: relative;
    font-size: 25px;
}
.phone{
    margin-top: 60px;
}
.forms{
    margin-top: 100px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 35px;
}
form{
    display: grid;
}
.send{
    background-color:#237390;
    justify-self: center;
}

.footer{
    margin-top: 100px;
    color: white;
    background-color:rgb(95, 117, 151);
}
.quick{
    padding-top: 80px;
    padding-bottom: 100px;
}
.quick p{
    padding-top: 30px;
}
.social{
    padding-top: 30px;
}
.twit1{
    border: 1px solid rgb(90, 110, 139);
    border-radius: 50%;
    padding: 10px;
    background-color:rgb(90, 110, 139);
}
.fb1{
    border: 1px solid rgb(90, 110, 139);
    border-radius: 50%;
    padding: 10px;
    padding-left: 13px;
    padding-right: 13px;
    background-color:rgb(90, 110, 139);
}
.insta1{
    border: 1px solid rgb(90, 110, 139);
    border-radius: 50%;
    padding: 10px;
    background-color:rgb(90, 110, 139);
}
.skype1{
    border: 1px solid rgb(90, 110, 139);
    border-radius: 50%;
    padding: 10px;
    background-color:rgb(90, 110, 139);
}
.in1{
    border: 1px solid rgb(90, 110, 139);
    border-radius: 50%;
    padding: 10px;
    background-color:rgb(90, 110, 139);
}
.links{
    padding-top: 80px;
    padding-bottom: 100px;
}
.tags{
    padding-top: 30px;
}
.home{
    text-decoration: none;
    color: white;
}
.serve{
    padding-top: 80px;
    padding-bottom: 100px;
}
.serve p{
    margin-top: 30px;
}
.letter{
    padding-top: 80px;
    padding-bottom: 100px;
}
.letter p{
    padding-top: 30px;
}
.copyright{
    background-color:rgb(86, 106, 141);
    color: white;
    padding-top: 100px;
}
.name{
    width: 350px;
}
.mailing{
    position: absolute;
    width: 350px;
}
.subject{
    width: 1155px;
}



@media (min-width:320px) and (max-width:480px){
    .centered{
        font-size: 6pt;
        letter-spacing: 1px;
    }
    .centered h1{
        font-size: small;
    }
    .read{
        font-size: xx-small;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 1px;
        padding-bottom: 1px;
        margin-top: 1px;
    }
    iframe{
        width: 400px;
        height: 300px;
        margin-left: -20px;
     }
     .video{
        padding-left: 0px;
     }
    .about{
        margin-top: 50px;
    }
   
    .message1{
        left: 130px;
    }
    .icons21{
        padding-left: 40px;
        padding-right: 50px;
    }
    .network{
        left: 130px;
    }
    .message{
        left: 130px;
    }
    .lorem{
        margin-top: 130px;
    }
    .message222{
        left: 120px;
    }
    .lorem222{
        padding-left: 65px;
    }
    .underline222{
        margin-left: 95px
    }
    .lorem33{
        padding-left: 10px;
    }
    .underline33{
        margin-left: 40px;
    }
    .icons22{
        padding-left: 75px;
    }
    .icons23{
        padding-left: 120px;
        padding-right: 0px;
    }
    .icons24{
        padding-left: 40px;
        padding-right: 50px;
    }
    .icons25{
        padding-left: 60px;
    }

    .icons26{
        padding-left: 115px;
        padding-right: 0px;
    }
    .para2{
        padding-right: 30px;
    }
    .para3{
        padding-right: 50px;
    }
    .cell1{
        padding-left: 10px;
    }
    .cell2{
        padding-left: 10px;
    }
    .buttons{
        padding-left: 50px;
        padding-right: 10px;
    }
    .projects1{
        width: 100px;
    }
    .projects2{
        width: 50px;
    }
    .projects3{
        width: 30px;
    }
    .pro8{
        margin-top: 25px;
    }
    .pro9{
        margin-top: 25px;
    }
    .headphone{
        width: 390px;
        padding-right: 40px;
        padding-left: 0px;
    }
    .watch{
        width: 390px;
        padding-right: 40px;
        padding-left: 0px;
    }
    .glasses{
        width: 390px;
        padding-right: 40px;
        padding-left: 0px;
    }
    .flower{
        width: 390px;
        padding-right: 40px;
        padding-left: 0px;
    }
    .perfume{
        width: 390px;
        padding-right: 40px;
        padding-left: 0px;
    }
    .oil{
        width: 390px;
        padding-right: 40px;
        padding-left: 0px;
    }
    .water{
        width: 390px;
        padding-right: 40px;
        padding-left: 0px;
    }
    .chair{
        width: 390px;
        padding-right: 40px;
        padding-left: 0px;
    }
    .steak{
        width: 390px;
        padding-right: 40px;
        padding-left: 0px;
    }
    .description{
        width: 350px;
        left: 190px;
    }
    .description1{
        width: 350px;
        left: 190px;
        height: 180px;
    }
    .description2{
        width: 350px;
        left: 190px;
    }
    .description3{
        width: 350px;
        left: 190px;
        height: 235px;
    }
    .description4{
        width: 350px;
        left: 190px;
    }
    .description5{
        width: 350px;
        left: 190px;
    }
    .description6{
        width: 345px;
        left: 190px;
    }
    .description7{
        width: 350px;
        left: 190px;
    }
    .description8{
        width: 350px;
        left: 190px;
    }

    .styling{
        left: 130px;
    }
    .styling1{
        left: 180px;
    }
    .textbox{
        left: 70px;
        margin-top: -1300px;
    }

    .textbox1{
        left: 70px;
        margin-top: -930px;
    }
    .textbox2{
        left: 70px;
        margin-top: -560px;
    }
    .textbox3{
        left: 70px;
        margin-top: -190px;
    }
    .per{
        margin-top: 50px;
        padding-left: 5px;
    }
    .person1{
        width: 310px;
        height: 310px;
    }
    .person2{
        width: 310px;
        height: 310px;
        margin-top: 80px;
    }
    .person3{
        width: 310px;
        height: 310px;
        margin-top: 80px;
    }
    .person4{
        width: 310px;
        height: 310px;
        margin-top: 80px;
    }
    .boxes{
        width: 100px;
    }
    .map{
        left: 170px;
    }
    .envelope{
        left: 165px;
    }
    .call{
        left: 170px;
    }
    .address1{
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .forms{
        padding-left: 5px;
    }
    .name{
        width: 152px;
        padding-left: 0px;
    }
    .mailing{
        position: absolute;
        width: 152px;
    }
    .subject{
        width: 354px;
    }
    .text{
        width: 354px;
    }
    .quick{
        padding-left: 20px;
    }
    .social{
        padding-right: 30px;
    }
    .links{
        padding-left: 40px;
        padding-right: 20px;
    }
    .serve{
        padding-left: 20px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px){
    .centered{
        font-size: 9pt;
    }
    .centered h1{
        font-size: large;
    }
    .read{
        margin-top: 3px;
    }
    iframe{
        width: 580px;
        height: 300px;
        padding-right: 50px;
        margin-left: 0px;
        padding-left: 0px;
    }
     .about{
        margin-top: 50px;
    }

    .cell1 {
        padding: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
   
    .cells {
        padding-left: 20px;
    }
    .cell2 {
        padding: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .message1{
        left: 50px;
    }
    .icons21{
        padding-left: 0px;
        padding-right: 50px;
        width: 300px;
    }
    .lorem2{
        padding-left: 50px;
    }
    .underline{
        margin-left: 82px;
    }
    .network{
        left: 90px;
    }
    .icons22{
        position: absolute;
        left: 300px;
        margin-top: 95px;
        padding-left: 40px ;
    }
    .para2{
        width: 320px;
        padding-left: 20px;
    }
    .icons23{
        padding-left: 60px;
        padding-right: 0px;
        width: 320px;
    }
    .para3{
        padding-left: 30px;
    }
    .icons24{
        position: absolute;
        left: 300px;
        margin-top: -398px;
        padding-left: 35px;
        width: 300px;
    }
    .message222{
        left: 90px;
    }

    .icons25{
        padding-left: 20px;
        padding-right: 0px;
        width: 320px;
    }
    .network222{
        left: 72px;
    }
    .icons26{
        position: absolute;
        left: 370px;
        padding-left: 30px;
        width: 300px;
    }
    .message212{
        margin-top: 8px;
    }
    .buttons{
        padding-left: 120px;
    }
    .projects1{
        width: 100px;
        padding-left: 100px;
    }
    .projects2{
        width: 100px;
        padding-left: 100px;
    }
    .projects3{
        width: 100px;
        padding-left: 100px;
    }
    .pro8{
        margin-top: 20px;
    }
    .pro9{
        margin-top: 20px;
    }
    .per{
        width: 500px;
    }
    .person1{
        width: 400px;
        height: 300px;
        padding-left: 100px;
        margin-top: 50px;
    }
    .person2{
        width: 400px;
        height: 300px;
        padding-left: 100px;
        margin-top: 100px;
    }
    .person3{
        width: 400px;
        height: 300px;
        padding-left: 100px;
        margin-top: 100px;
    }
    .person4{
        width: 400px;
        height: 300px;
        padding-left: 100px;
        margin-top: 100px;
    }
    .boxes{
        width: 100px;
    }
    .textbox{
        left: 180px;
        margin-top: -1210px;
    }
    .textbox1{
        left: 180px;
        margin-top: -880px;
    }
    .textbox2{
        left: 180px;
        margin-top: -550px;
    }
    .textbox3{
        left: 180px;
        margin-top: -220px;
    }
    .map{
        left: 260px;
    }
    .address1{
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .envelope{
        left: 255px;
    }
    .call{
        left: 255px;
    }
    .forms{
        padding-left: 15px;
        padding-right: 30px;
    }
    .name{
        width: 240px;
        padding-left: 0px;
    }
    .mailing{
        position: absolute;
        width: 240px;
    }
    .subject{
        width: 530px;
    }
    .text{
        width: 530px;
    }
    .footer{
        padding-left: 20px;
        padding-right: 20px;
    }
    .quick{
        padding-left: 20px;
    }
    .links{
        padding-left: 40px;
        padding-right: 20px;
    }
    .serve{
        padding-left: 20px;
    } 
}



@media (min-width: 768px) and (max-width: 991.98px){

    .centered{
        font-size: 13pt;
    }
    .centered h1{
        font-size: xx-large;
    }
    .read{
        margin-top: 3px;
    }
    iframe{
        width: 760px;
        height: 400px;
        padding-right: 50px;
        margin-left: 0px;
        padding-left: 0px;
    }
    .about{
        margin-top: 50px;
    }

    .cell1 {
        padding: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
   
    .cells {
        padding-left: 20px;
    }
    .cell2 {
        padding: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .counters1{
        width: 170px;
    }
    .counters2{
        width: 170px;
    }
    .counters3{
        width: 170px;
    }
    .counters4{
        width: 170px;
    }
   .message1{
        left: 40px;
    }
    .icons21{
        padding-left: 10px;
        padding-right: 50px;
    }
    .lorem2{
        padding-left: 30px;
    }
    .underline{
        margin-left: 60px;
    }
    .para1{
        width: 230px;
    }
    .network{
        left: 330px;
    }
    .icons22{
        margin-top: 50px;
        padding-left: 20px;
    }
    .para2{
        width: 300px;
        padding-left: 20px;
    }
    .message{
        left: 420px;
    }
    .icons23{
        padding-top: 10px;
        padding-left: 70px;
    }
    .para3{
        width: 340px;
        padding-left: 30px;
    }
     .icons24{
        padding-left: 10px;
        width: 300px;
    }
    .message222{
        left: 50px;
    }
    .icons25{
        left: 0px;
        padding-left: 0px;
        margin-left: -20px;
        padding-right: 0px;
        width: 320px;
    }
    .network222{
        left: 340px;
    }
    .icons26{
        position: absolute;
        left: 490px;
        width: 300px;
        padding-top: 5px;
    }
    .buttons{
        padding-left: 210px;
    }
    .projects1{
        width: 600px;
    }
    .description{
        left: 205px;
        width: 386px;
    }
    .pro2{
        position: absolute;
        left: 400px;
    }
    .pro3{
        position: absolute;
        padding-left: 200px;
        padding-top: 250px;
    }
    .description2{
        margin-top: 120px;
        left: 395px;
    }
    .projects2{
        margin-top: 300px;
        width: 600px;
    }
    .pro5{
        position: absolute;
        left: 400px;
        margin-top: -5px;
    }
    .perfume{
        width: 350px;
        height: 295px;
    }
    .description4{
        left: 188px;
        width: 350px;
    }
    .projects3{
        margin-top: 400px;
        width: 600px;
    }
    .pro6{
        position: absolute;
        padding-top: 330px;
        left: 200px;
    }
    .description5{
        margin-top: 160px;
    }
    .pro8{
        position: absolute;
        left: 400px;
    }
    .chair{
        width: 350px;
    }
    .description7{
        left: 200px;
    }
    .pro9{
        position: absolute;
        margin-top: 250px;
        left: 200px;
    }
    .team{
        margin-top: 400px;
        padding-left: 70px;
    }
    .person3{
        margin-top: 100px;
    }
    .person4{
        margin-top: 100px;
    }
    .textbox{
        left: 100px;
        margin-top: -350px;
    }
    .textbox1{
        left: 440px;
        margin-top: -350px;
    }
    .textbox2{
        left: 100px;
        margin-top: 10px;
    }
    .textbox3{
        left: 445px;
        margin-top: -60px;
    }
    .contact{
        padding-left: 10px;
    }
    .map{
        left: 140px;
    }
    .envelope{
        left: 420px;
    }
    .address2{
        position: relative;
        left: 570px;
        margin-top: -197px;
    }
    .call{
        left: 60px;
    }
    .forms{
        padding-left: 15px;
        padding-right: 30px;
    }
    .name{
        width: 335px;
        padding-left: 0px;
    }
    .mailing{
        position: absolute;
        width: 335px;
    }
    .subject{
        width: 718px;
    }
    .text{
        width: 718px;
    }
    .footer{
        padding-left: 5px;
        padding-right: 5px;
    }
    .quick{
        padding-left: 10px;
    }
    .links{
        padding-left: 10px;
        padding-right: 10px;
    }
    .serve{
        padding-left: 10px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px){
     .centered{
        font-size: 15pt;
    }
    .centered h1{
        font-size: 30pt;
    }
    .read{
        margin-top: 3px;
        font-size: medium;
    }
    iframe{
        padding-right: 30px;
        margin-left: 0px;
        padding-left: 0px;
    }
    .video{
        padding-left: 0px;
        margin-top: 80px;
    }
    .span1{
        padding-top: 7px;
    }
    .span2{
        padding-top: 7px;
    }
    .icons{
        padding-left: 30px;
    }
    .message1{
        left: 120px;
    }
    .network{
        left: 450px;
    }
    .icons22{
        padding-left: 60px;
        width: 400px;
    }
    .icons1{
        position: absolute;
        left: 670px;
        margin-top: 110px;
        padding-right: 20px;
    }
    .icons23{
        width: 420px;
    }
    .icons25{
        padding-left: 60px;
        width: 390px;
    }
    .icons26{
        width: 420px;
        margin-top: 65px;
    }
    .buttons{
        padding-left: 330px;
    }
    .headphone {
        width: 320px;
    }
    .watch{
        width: 320px;
        height: 215px;
    }
    .glasses{
        width: 310px;
        height: 215px;
    }
    .flower{
        width: 320px;
    }
    .perfume{
        width: 320px;
        height: 237px;
    }
    .oil{
        width: 320px;
        height: 237px;
    }
    .description{
        left: 170px;
        width: 320px;
    }
    .description1{
        left: 173px;
        width: 320px;
    }
    .description2{
        left: 168px;
        width: 310px;
    }
    .description3{
        left: 170px;
        width: 320px;
        height: 240px;
        margin-top: -2px;
    }
    .description4{
        left: 172px;
        width: 320px;
        height: 240px;
        margin-top: -2px;
    }
    .description5{
        left: 180px;
        width: 330px;
        height: 240px;
        margin-top: -2px;
    }
    .water{
        width: 320px;
        height: 215px;
    }
    .chair{
        width: 320px;
        height: 215px;
    }
    .steak{
        width: 320px;
        height: 215px;
    }
    .pro8{
        padding-left: 0px ;
        padding-right: 330px;
    }
    .pro9{
        left: 670px;
        margin-top: -215px;
    }
    .description6{
        left: 170px;
        width: 320px;
        height: 218px;
        margin-top: -2px;
    }
    .description7{
        left: 160px;
        width: 315px;
        height: 217px;
        margin-top: -2px;
    }
    .description8{
        left: 180px;
        width: 335px;
        height: 210px;
        margin-top: -2px;
    }
    .styling{
        left: 110px;
    }
    .styling1{
        left: 160px;
    }
    .person4{
        margin-top: 150px;
        padding-left: 320px;
        width: 580px;
    }
    .textbox{
        left: 60px;
        margin-top: -390px;
    }
    .textbox1{
        left: 380px;
        margin-top: -390px;
    }
    .textbox2{
        left: 690px;
        margin-top: -390px;
    }
    .textbox3{
        left: 380px;
        margin-top: 20px;
    }
    .map{
        left: 200px;
    }
    .envelope{
        left: 550px;
    }
    .address2{
        position: relative;
        left: 720px;
        margin-top: -197px;
    }
    .call{
        left: 85px;
    }
    .name{
        width: 430px;
        padding-left: 0px;
    }
    .mailing{
        position: absolute;
        width: 430px;
    }
    .subject{
        width: 908px;
    }
    .text{
        width: 908px;
    }
}

@media (min-width: 1200px){
    .centered{
        font-size: 13pt;
    }
    .buttons{
        padding-left: 480px;
    }
    .textbox1{
        left: 375px;
    }
    .textbox2{
        left: 680px;
    }
    .textbox3{
        left: 1000px;
    }
    .map{
        left: 250px;
    }
    .envelope{
        left: 700px;
    }
    .call{
        left: 1050px;
    }
    .name{
        width: 570px;
    }
    .mailing{
        width: 570px;
    }
    .subject{
        width: 1195px;
    }
    .text{
        width: 1195px;
    }
}